@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}
<h2>@CurrentPage.articleTitle</h2>
<p>@CurrentPage.articleContent</p>