<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutusdocumenttype ANY>
<!ATTLIST aboutusdocumenttype id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1080" key="add61b0a-726d-483a-9af7-a252315bfe82" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-06T10:38:31" updateDate="2018-02-20T09:31:01" nodeName="Home Page" urlName="home-page" path="-1,1080" isDoc="" nodeType="1058" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1057" nodeTypeAlias="homePage" isPublished="true">
    <metaDescription><![CDATA[Dette er meta description]]></metaDescription>
    <metaKeywords><![CDATA[meta key words here]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Site title here]]></siteTitle>
    <footer><![CDATA[footer is here]]></footer>
    <mainContent><![CDATA[<p>main content here</p>]]></mainContent>
    <projectsOverview id="1088" key="3a08a25a-2119-4bab-849a-037862b12a8b" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2018-02-12T18:38:45" updateDate="2018-02-12T20:22:43" nodeName="Project overview" urlName="project-overview" path="-1,1080,1088" isDoc="" nodeType="1073" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1072" nodeTypeAlias="projectsOverview" isPublished="true">
      <metaDescription><![CDATA[this is an overview of all projects]]></metaDescription>
      <metaKeywords><![CDATA[projects apps html xml css]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[this is an overview of all projects]]></projectsTitle>
      <projectBodyText><![CDATA[<p>this is an overview of all our awesome projects. You can see them right here on this page.</p>]]></projectBodyText>
      <projectItem id="1129" key="9acc0bf9-9832-41e3-8dfa-8e06f3ca42b9" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2018-03-27T19:37:47" updateDate="2018-03-27T19:38:51" nodeName="hemmeligaccess" urlName="hemmeligaccess" path="-1,1080,1088,1129" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[hemmelig]]></metaDescription>
        <metaKeywords><![CDATA[hemmelig]]></metaKeywords>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectDescription><![CDATA[<p>hemmeligt projekt</p>]]></projectDescription>
        <projectTitle><![CDATA[secret project]]></projectTitle>
      </projectItem>
      <projectItem id="1130" key="24dd71dd-561d-48c9-82bd-3cea7c073037" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2018-03-27T20:39:25" updateDate="2018-03-27T20:47:34" nodeName="App with a cat" urlName="app-with-a-cat" path="-1,1080,1088,1130" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[hallo]]></metaDescription>
        <metaKeywords><![CDATA[haefe]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>just include a cat somehow</p>]]></projectDescription>
        <projectTitle><![CDATA[App with a cat]]></projectTitle>
      </projectItem>
      <projectItem id="1131" key="05d7a227-17ec-476f-9710-d4c955d818c2" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2018-03-27T20:43:50" updateDate="2018-03-27T20:43:50" nodeName="Tennis app" urlName="tennis-app" path="-1,1080,1088,1131" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[tennis sport]]></metaDescription>
        <metaKeywords><![CDATA[tennis sport]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>book tenniscourts and find play partners.</p>]]></projectDescription>
        <projectTitle><![CDATA[App for local tennis club]]></projectTitle>
      </projectItem>
      <projectItem id="1132" key="def2e879-4412-4aa4-b8fe-114b115524e2" parentID="1088" level="3" creatorID="0" sortOrder="3" createDate="2018-03-27T20:45:32" updateDate="2018-03-27T20:47:11" nodeName="Tænkeboks app" urlName="taenkeboks-app" path="-1,1080,1088,1132" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[tænkeboks]]></metaDescription>
        <metaKeywords><![CDATA[spil dice bar game]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>tænkeboks som app spillet er også kaldet snyd</p>]]></projectDescription>
        <projectTitle><![CDATA[Popular bar game as app]]></projectTitle>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1087" key="1bd64932-28ac-4e7b-8f83-f5e84dd56100" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2018-02-12T18:37:40" updateDate="2018-02-12T20:23:11" nodeName="Article overview" urlName="article-overview" path="-1,1080,1087" isDoc="" nodeType="1065" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1064" nodeTypeAlias="articlesOverview" isPublished="true">
      <metaDescription><![CDATA[overview of all the articles]]></metaDescription>
      <metaKeywords><![CDATA[overview articles]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>This is where you find all our awesome articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[This is where all the articles are]]></articlesTitle>
      <articleItem id="1134" key="0a6e6eca-9168-4ec1-bbc8-194ae405e7de" parentID="1087" level="3" creatorID="0" sortOrder="0" createDate="2018-03-28T13:44:18" updateDate="2018-03-28T13:44:18" nodeName="XML tips og tricks" urlName="xml-tips-og-tricks" path="-1,1080,1087,1134" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <metaDescription><![CDATA[xml]]></metaDescription>
        <metaKeywords><![CDATA[data]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p>Disse 10 tips til xml er gode</p>]]></articleContent>
        <articleTitle><![CDATA[XML tips og tricks]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <aboutusdocumenttype id="1098" key="24b3fe6a-235c-4060-886d-fd567624bb5b" parentID="1080" level="2" creatorID="0" sortOrder="2" createDate="2018-02-13T14:06:02" updateDate="2018-02-13T14:18:40" nodeName="About us" urlName="about-us" path="-1,1080,1098" isDoc="" nodeType="1097" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1096" nodeTypeAlias="aboutusdocumenttype" isPublished="true">
      <metaDescription><![CDATA[about us grid]]></metaDescription>
      <metaKeywords><![CDATA[grid about us quote]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutus><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "aboutus",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.49545454545454548,
                      "top": 0.49392712550607287
                    },
                    "id": 1092,
                    "udi": "umb://media/885468621fec4dfcbb728f2e00ee8db7",
                    "image": "/media/1001/futurama.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "this is about us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "this is not a great quote",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>rich text editor</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "aboutus",
          "hasConfig": false,
          "id": "33589a6d-49d8-7194-80ac-b4ebe022a58d"
        }
      ]
    }
  ]
}]]></aboutus>
    </aboutusdocumenttype>
    <contactPage id="1103" key="688d2a36-792e-45fd-a9ba-33d58674cc17" parentID="1080" level="2" creatorID="0" sortOrder="3" createDate="2018-02-20T10:54:34" updateDate="2018-02-20T11:33:08" nodeName="Contact Us" urlName="contact-us" path="-1,1080,1103" isDoc="" nodeType="1100" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1101" nodeTypeAlias="contactPage" isPublished="true">
      <metaDescription><![CDATA[ok]]></metaDescription>
      <metaKeywords><![CDATA[ok]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="1127" key="f9660082-3694-452f-a561-97b668074e65" parentID="1080" level="2" creatorID="0" sortOrder="4" createDate="2018-03-27T18:11:28" updateDate="2018-03-27T18:11:31" nodeName="Log Ind" urlName="log-ind" path="-1,1080,1127" isDoc="" nodeType="1126" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1123" nodeTypeAlias="login" isPublished="true">
      <metaDescription><![CDATA[log ind]]></metaDescription>
      <metaKeywords><![CDATA[log ind]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <members id="1138" key="f4c590de-609a-4d77-81ad-3b0a0d3bf7f5" parentID="1080" level="2" creatorID="0" sortOrder="5" createDate="2018-03-28T15:47:42" updateDate="2018-03-28T15:47:42" nodeName="Members" urlName="members" path="-1,1080,1138" isDoc="" nodeType="1136" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1135" nodeTypeAlias="members" isPublished="false">
      <metaDescription><![CDATA[member list]]></metaDescription>
      <metaKeywords><![CDATA[member list]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
  <projectItem id="1082" key="a4e3c433-b890-4090-99f9-31c2f3d30eb0" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-02-12T18:02:01" updateDate="2018-02-12T18:32:45" nodeName="tennis app" urlName="tennis-app" path="-1,1082" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
    <metaDescription><![CDATA[app that learn you how to play tennis]]></metaDescription>
    <metaKeywords><![CDATA[app tennis android learn teach]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <projectDescription><![CDATA[<p>this project will make an android app that taches you tennis</p>]]></projectDescription>
    <projectTitle><![CDATA[An app that learns you to play tennis]]></projectTitle>
  </projectItem>
  <projectItem id="1083" key="1ca3c74a-a5ac-4f15-b981-09ad4d80f438" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-02-12T18:03:46" updateDate="2018-02-12T21:44:28" nodeName="tænkeboks app" urlName="taenkeboks-app" path="-1,1083" isDoc="" nodeType="1078" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
    <metaDescription><![CDATA[tænkeboks spillet nu som ios app]]></metaDescription>
    <metaKeywords><![CDATA[app ios tænkeboks snyd tærninger]]></metaKeywords>
    <umbracoNaviHide>1</umbracoNaviHide>
    <projectDescription><![CDATA[<p>projektet går ud på at lave tænkeboks spillet som app</p>]]></projectDescription>
    <projectTitle><![CDATA[Tænkeboks spillet nu som app]]></projectTitle>
  </projectItem>
  <articleItem id="1084" key="5456008d-440b-46a5-a862-bb96eb340591" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-02-12T18:05:35" updateDate="2018-02-12T18:32:59" nodeName="SASS er det nye" urlName="sass-er-det-nye" path="-1,1084" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[sass når du skriver css]]></metaDescription>
    <metaKeywords><![CDATA[layout sass css html front end]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <articleContent><![CDATA[<p>prøv at bruge sass det er mega smart</p>]]></articleContent>
    <articleTitle><![CDATA[Sass er det nye]]></articleTitle>
  </articleItem>
  <articleItem id="1085" key="9f378950-2449-471b-a37c-09aab604e0d9" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-02-12T18:06:43" updateDate="2018-02-12T18:06:43" nodeName="XML tips and tricks" urlName="xml-tips-and-tricks" path="-1,1085" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[XML tips and tricks]]></metaDescription>
    <metaKeywords><![CDATA[xml android app androidstudio]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <articleContent><![CDATA[<p>her er 72 XML tips and tricks som du måske slet ikke kender!</p>]]></articleContent>
    <articleTitle><![CDATA[XML tips and tricks]]></articleTitle>
  </articleItem>
  <articleItem id="1086" key="a38f23fd-2f04-44fe-bf69-3c4fa2d449f3" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-02-12T18:08:07" updateDate="2018-02-12T18:08:07" nodeName="discord article" urlName="discord-article" path="-1,1086" isDoc="" nodeType="1069" creatorName="Sylvester Behrens-Kjærtinge" writerName="Sylvester Behrens-Kjærtinge" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
    <metaDescription><![CDATA[discord er det nye skype]]></metaDescription>
    <metaKeywords><![CDATA[discord tale samtale telefon kommunikation]]></metaKeywords>
    <umbracoNaviHide>1</umbracoNaviHide>
    <articleContent><![CDATA[<p>skype er blevet skod. discord er det nye, du kan også dele din skærm</p>]]></articleContent>
    <articleTitle><![CDATA[discord - den gode måde at tale sammen over nettet]]></articleTitle>
  </articleItem>
</root>